---
import Stats from "../../components/Stats/Stats.astro";
---

<section class="w-full p-4 my-4 text-black flex justify-center flex-col items-center">
  <h2 class="lg:text-2xl font-medium pb-2 text-base">Datos de reciclaje</h2>
  <Stats />
</section>
