---
import getAllForums from "@/server/Forum/getAllForums";
import CardForum from "../../components/Forums/CardForum.astro";
import type { Forum } from "@/interfaces/Forum";
import MonthStats from "@/components/Stats/MonthStats.astro";

let forums = [];
try {
  forums = (await getAllForums()).slice(0, 3);  
} catch (error) {
  console.error(error);
}

---

<section class="flex flex-col w-full p-3 justify-center items-center gap-12 my-12">
{
  forums.length > 0 &&
  <h2 class="text-2xl font-bold">¡Únete a nuestros foros de discusión!</h2>
  <div class="flex gap-12 flex-wrap lg:flex-nowrap  justify-center">
    {
      forums.map((forum: Forum)=>(
        <CardForum
          title={forum.title}
          description={forum.description}
          link={`/foros/${forum.title}`}
        />
      ))
    }
  </div>
 }
  <div class="p-4 my-4 text-black flex justify-center flex-col items-center w-full">
    <h2 class="lg:text-2xl font-medium m-3">Reciclaje del mes actual</h2>
    <MonthStats/>
  </div>
</section>
