<section
  class="p-4 mt-12 lg:my-6 md:mt-20 flex flex-col lg:flex-row lg:justify-between items-center gap-12 lg:p-8"
>
  <div class="absolute top-0 -z-10 h-full w-full bg-white">
    <div
      class="absolute bottom-auto left-auto right-0 top-0 lg:h-[800px] lg:w-[800px] lg:-translate-x-[0%] lg:translate-y-[0%] h-[500px] w-[500px] -translate-x-[50%] translate-y-[-20%] rounded-full bg-ecologica-secondary opacity-10 blur-[80px] -z-20"
    >
    </div>
  </div>
  <div class="text-center lg:text-left">
    <h1
      class="text-xl sm:text-2xl font-bold max-w-fit text-balance lg:text-5xl"
    >
      Ecologica <span
        class="bg-gradient-to-r from-ecologica-primary to-ecologica-secondary text-transparent bg-clip-text"
        >Universidad</span
      > Cooperativa de Colombia
    </h1>
    <p class="mt-5 text-sm lg:text-xl text-gray-700">
      Todos los datos de <span
        class="bg-gradient-to-r from-ecologica-primary to-ecologica-secondary text-transparent bg-clip-text font-bold"
        >reciclaje</span
      > nos ayudan a mejorar nuestros estándares
    </p>
  </div>
  <aside class="w-full lg:max-w-[620px]">
    <img
      class="size-full rounded-lg"
      src="https://th.bing.com/th/id/R.e35ce608dc71485f2353af6b3323ebc8?rik=hlvH8mEhH9A3gg&pid=ImgRaw&r=0"
      alt="Imagen de reciclaje"
    />
  </aside>

  
</section>
