---
const { title, description, msgs } = Astro.props;
---

<a href={`/foros/${title}`}>
  <div
    class="w-full h-[90px] rounded-sm bg-white p-3 flex justify-between gap-4 items-center"
  >
    <div class="flex items-center gap-2">
      <div class="w-[75px]">
        <img
          src="/img/mundi.jpg"
          alt="Planeta Tierra"
          class="w-full h-full object-cover rounded-full"
        />
      </div>
      <div>
        <h3 class="font-bold">{title}</h3>
        <p class="text-gray-800 text-sm">{description}</p>
      </div>
    </div>
    <div class="text-sm flex flex-col gap-2 justify-center items-center">
      <span>14:20</span>
      <span
        class="bg-red-500 text-white rounded-full p-1 size-[26px] flex justify-center items-center"
        >{msgs}</span
      >
    </div>
  </div>
</a>
