<form class="mt-8" id="register">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div>
        <label
          for="name"
          class="block text-lg font-medium text-gray-700 text-left"
          >Nombre</label
        >
        <input
          type="text"
          id="name"
          name="name"
          class="mt-1 p-2 border border-gray-300 rounded-md w-full"
          placeholder="Ingresa tu nombre"
          required
        />
      </div>
      <div>
        <label
          for="lastName"
          class="block text-lg font-medium text-gray-700 text-left"
          >Apellido</label
        >
        <input
          type="text"
          id="lastName"
          name="lastName"
          class="mt-1 p-2 border border-gray-300 rounded-md w-full"
          placeholder="Ingresa tu apellido"
          required
        />
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
      <div>
        <label
          for="email"
          class="block text-lg font-medium text-gray-700 text-left"
          >Email</label
        >
        <input
          type="email"
          id="email"
          name="email"
          class="mt-1 p-2 border border-gray-300 rounded-md w-full"
          placeholder="Ingresa tu email"
          required
        />
      </div>
      <div>
        <label
          for="age"
          class="block text-lg font-medium text-gray-700 text-left"
          >Edad</label
        >
        <input
          type="number"
          id="age"
          name="age"
          class="mt-1 p-2 border border-gray-300 rounded-md w-full"
          placeholder="Ingresa tu edad"
          required
        />
      </div>
    </div>
    <div class="mt-4">
      <label
        for="password"
        class="block text-lg font-medium text-gray-700 text-left"
        >Contrase単a</label
      >
      <input
        type="password"
        id="password"
        name="password"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full"
        placeholder="Crea una contrase単a"
        required
      />
    </div>
    <div class="mt-4">
      <label
        for="confirmPassword"
        class="block text-lg font-medium text-gray-700 text-left"
        >Confirmar Contrase単a</label
      >
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="mt-1 p-2 border border-gray-300 rounded-md w-full"
        placeholder="Confirma tu contrase単a"
        required
      />
    </div>
    <div class="mt-8">
      <button
        type="submit"
        class="px-4 py-2 bg-green-500 text-white font-medium rounded-md"
        >Registrarse</button
      >
    </div>
  </form>