<script>
import createBarsStats from "@/helpers/createBarsStats";
import getAllData from "@/server/Stats/getAllData";
import { $ } from "@/util/DOMUtils";
import processData from "@/util/processData";

const pMessage = $("[data-set-message]");

const loadData = async () => {
    const { materials } = await getAllData();
    console.log(materials)
    if (!(materials && materials.length > 0)){
        pMessage.textContent = "No hay datos disponibles";
        return
    }
    const dataConvert = processData(materials);
    const canvas = document?.querySelector("#history-home-stats");
    if (!canvas || !(canvas instanceof HTMLCanvasElement)) return;
    const ctxCurrent = canvas.getContext("2d");
    if (!ctxCurrent) return;
    createBarsStats(ctxCurrent, dataConvert as [], "y");
};

document.addEventListener("DOMContentLoaded", loadData);

</script>

<div class="w-full max-w-[800px]">
    <p data-set-message></p>
    <canvas id="history-home-stats"> </canvas>
</div>
