<script>
import createBarsStats from "@/helpers/createBarsStats";
import getAllData from "@/server/Stats/getAllData";
import processData from "@/util/processData";

const loadData = async () => {
    const { materials } = await getAllData();
    if (!(materials && materials.length > 1)) return;
    const dataConvert = processData(materials);
    const canvas = document?.querySelector("#history-home-stats");
    if (!canvas || !(canvas instanceof HTMLCanvasElement)) return;
    const ctxCurrent = canvas.getContext("2d");
    if (!ctxCurrent) return;
    createBarsStats(ctxCurrent, dataConvert as [], "y");
};

document.addEventListener("DOMContentLoaded", loadData);

</script>

<div class="w-full max-w-[800px]">
    <canvas id="history-home-stats"> </canvas>
</div>
