---
import PrincipalButton from "../../components/UI/PrincipalButton.tsx";
---

<section>
  <h1 class="text-3xl font-bold text-balance ">
    Educaci칩n <span
      class="bg-gradient-to-r from-ecologica-primary to-ecologica-secondary text-transparent bg-clip-text"
      >Ambiental</span
    >
  </h1>
  <p class="mt-5 text-sm lg:text-xl text-gray-700">
    En este lugar podr치s leer acerca de las diferentes tem치ticas para mejorar en
    tu comprensi칩n ambiental con tu <span
      class="bg-gradient-to-r from-ecologica-primary to-ecologica-secondary text-transparent bg-clip-text font-bold"
      >entorno</span
    >
  </p>
  <div class="flex justify-center items-center mt-8 mb-8 flex-wrap ">
    <PrincipalButton link="/"> Inicio </PrincipalButton>
    <PrincipalButton link="/estadisticas/principal"> Estadisticas </PrincipalButton>
    <PrincipalButton link="/foros/principal"> Foros </PrincipalButton>
  </div>
</section>