---
import Layout from "./Layout.astro";
---

<Layout
  title="Navegacion de educacion Universidad Cooperativa de Colombia sede Pasto"
  description="Aqui podras navegar dentro del contenido de la educacion ambiental de la Universidad Cooperativa de Colombia"
>
    <section class="text-center mx-auto max-w-screen-md mt-8 mb-8">
        <h1 class="text-4xl font-bold">Registro</h1>
        <p class="text-lg text-gray-600 my-4">
        ¡Regístrate para ser parte de la comunidad de Ecologica!
        </p>

        <div class="bg-gray-100 p-8 rounded-lg shadow-md mb-12">
            <slot/>
        </div>
    </section>  
</Layout>