---
import Layout from "../../layouts/Layout.astro";
import {HeroSection} from "../../sections/stats/HeroSection.tsx";
import YearStatsSection from "../../sections/stats/YearStatsSection.tsx";
import HistoryStatsSection from "../../sections/stats/HistoryStatsSection.tsx";
import MonthStatsSections from "@/sections/stats/MonthStatsSection.tsx";
import LoadPage from "@/components/UI/LoadPage.astro";
---

<Layout
  title="Navegacion de educacion Universidad Cooperativa de Colombia sede Pasto"
  description="Aqui podras navegar dentro del contenido de la educacion ambiental de la Universidad Cooperativa de Colombia">
  <LoadPage/>
  <main class="text-center mx-auto max-w-screen-md mt-8 mb-8 min-h-screen">
      <HeroSection client:load/>
      <h2 class="text-2xl font-bold">Últimos datos agregados de este mes</h2>
      <MonthStatsSections client:load/>
      <YearStatsSection client:load/>
      <HistoryStatsSection client:load/>
    </main>
</Layout>