---
import MainStats from "@/sections/home/MainStats.astro";
import Layout from "../layouts/Layout.astro";
import PresentationForum from "../sections/home/PresentationForum.astro";
import Welcome from "../sections/home/Welcome.astro";
---
<Layout title="Ecologica Universidad Cooperativa de Colombia" description="Pagina principal de medicion ecologica de la Universidad Cooperativa de Colombia">
	<Welcome/>
	<main class="text-center mx-auto max-w-screen-md mt-8 mb-8 min-h-screen z-50">
		<MainStats/>
		<PresentationForum/>
	</main>
</Layout>