---
import Layout from "../../layouts/Layout.astro";
---

<script>
  import type { PrevUserToSend } from "../../interfaces/User";
  import userRegister from "../../server/User/register";  

  interface PropsType {
    name: string;
    lastName: string;
    email: string;
    age: number;
    password: string;
    confirmPassword: string;
    [key: string]: string | number;
  }
  const props: PropsType = {
    name: "",
    lastName: "",
    email: "",
    age: 0,
    password: "",
    confirmPassword: "",
  };

  async function handleSubmit(event: Event) {
    event.preventDefault();
    if (!event.target) return;
    const form = event.target as HTMLFormElement;
    const formData = new FormData(form);

    for (const key in props) {
      const currentValue = formData.get(key);
      if (typeof props[key] === "number" && typeof currentValue === "string") {
        props[key] = Number(currentValue);
      } else if (typeof currentValue === "string") {
        props[key] = currentValue;
      }
    }
    if (props.password !== props.confirmPassword) {
      alert("Por favor, las contraseñas deben ser iguales");
      return;
    }
    const dataToSendUser = {
      ...props,
      isAdmin: false,
      name: `${props.name} ${props.lastName}`,
    } as PrevUserToSend;

    delete dataToSendUser.confirmPassword;
    delete dataToSendUser.lastName;
    
    await userRegister(dataToSendUser);
  }
  const form = document.getElementById("register");
  form?.addEventListener("submit", handleSubmit);
</script>

<Layout
  title="Navegacion de educacion Universidad Cooperativa de Colombia sede Pasto"
  description="Aqui podras navegar dentro del contenido de la educacion ambiental de la Universidad Cooperativa de Colombia"
>
  <section class="text-center mx-auto max-w-screen-md mt-8 mb-8">
    <h1 class="text-4xl font-bold">Registro</h1>
    <p class="text-lg text-gray-600 mt-4">
      Aqui podras encontrar las estadisticas de la educacion ambiental de la
      Universidad Cooperativa de Colombia
    </p>
    <!-- Envoltura del formulario con color de fondo -->
    <div class="bg-gray-100 p-8 rounded-lg shadow-md">
      <form class="mt-8" id="register">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
            <label
              for="name"
              class="block text-lg font-medium text-gray-700 text-left"
              >Nombre</label
            >
            <input
              type="text"
              id="name"
              name="name"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
              placeholder="Ingresa tu nombre"
              required
            />
          </div>
          <div>
            <label
              for="lastName"
              class="block text-lg font-medium text-gray-700 text-left"
              >Apellido</label
            >
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
              placeholder="Ingresa tu apellido"
              required
            />
          </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-4">
          <div>
            <label
              for="email"
              class="block text-lg font-medium text-gray-700 text-left"
              >Email</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
              placeholder="Ingresa tu email"
              required
            />
          </div>
          <div>
            <label
              for="age"
              class="block text-lg font-medium text-gray-700 text-left"
              >Edad</label
            >
            <input
              type="number"
              id="age"
              name="age"
              class="mt-1 p-2 border border-gray-300 rounded-md w-full"
              placeholder="Ingresa tu edad"
              required
            />
          </div>
        </div>
        <div class="mt-4">
          <label
            for="password"
            class="block text-lg font-medium text-gray-700 text-left"
            >Contraseña</label
          >
          <input
            type="password"
            id="password"
            name="password"
            class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            placeholder="Crea una contraseña"
            required
          />
        </div>
        <div class="mt-4">
          <label
            for="confirmPassword"
            class="block text-lg font-medium text-gray-700 text-left"
            >Confirmar Contraseña</label
          >
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            class="mt-1 p-2 border border-gray-300 rounded-md w-full"
            placeholder="Confirma tu contraseña"
            required
          />
        </div>
        <div class="mt-8">
          <button
            type="submit"
            class="px-4 py-2 bg-green-500 text-white font-medium rounded-md"
            >Registrarse</button
          >
        </div>
      </form>
    </div>
  </section>
</Layout>
