---
import Layout from "../../layouts/Layout.astro";
import AccordionSection from "../../sections/education/AccordionSection.astro";
import HeroSection from "../../sections/education/HeroSection.astro";
---

<Layout
  title="Navegacion de educacion Universidad Cooperativa de Colombia sede Pasto"
  description="Aqui podras navegar dentro del contenido de la educacion ambiental de la Universidad Cooperativa de Colombia"
>
  <section class="text-center mx-auto max-w-screen-md mt-8 mb-8">
    <HeroSection/>
    <AccordionSection/>
  </section>
</Layout>
