<script>
  import Chart from "chart.js/auto";
  const canvas = document.getElementById("history-canvas") as HTMLCanvasElement;
  const ctx = canvas.getContext("2d");
  if (ctx) {
    new Chart(ctx, {
      type: "bar",
      data: {
        labels: ["Plastico", "Carton/papel", "Organico", "Pilas"],
        datasets: [
          {
            label: "Cantidad de residuos",
            data: [20, 30, 40, 50],
            backgroundColor: ["#246876", "#9cc824", "#1c64ca", "#0c174b"],
          },
        ],
      },
      options: {
        indexAxis: "x",
        scales: {
          y: { beginAtZero: true, grid: { display: false } },
          x: { grid: { display: false } },
        },
      },
    });
  }
</script>

<div class="w-full max-w-[800px]">
  <canvas id="history-canvas"> </canvas>
</div>
