<script>
  import Chart from "chart.js/auto";
  const canvas = document.getElementById("year-canvas") as HTMLCanvasElement;
  const ctx = canvas.getContext("2d");
  if (ctx) {
    new Chart(ctx, {
      type: "line",
      data: {
        labels: [
          "Enero",
          "Febrero",
          "Marzo",
          "Abril",
          "Mayo",
          "Junio",
          "Julio",
          "Agosto",
          "Septiembre",
          "Octubre",
          "Noviembre",
          "Diciembre",
        ],
        datasets: [
          {
            label: "Pilas",
            data: [20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130],
            backgroundColor: "#0c174b",
            borderColor: "#0c174b",
            fill: false,
          },
          {
            label: "Orgánicos",
            data: [15, 25, 35, 45, 55, 65, 75, 85, 95, 105, 115, 125],
            backgroundColor: "#1c64ca",
            borderColor: "#1c64ca",
            fill: false,
          },
          {
            label: "Papel/Cartón",
            data: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120],
            backgroundColor: "#9cc824",
            borderColor: "#9cc824",
            fill: false,
          },
          {
            label: "Plástico",
            data: [5, 15, 25, 35, 45, 55, 65, 75, 85, 95, 105, 115],
            backgroundColor: "#246876",
            borderColor: "#246876",
            fill: false,
          },
        ],
      },
      options: {
        scales: {
          y: { beginAtZero: true, grid: { display: false } },
          x: { grid: { display: false } },
        },
      },
    });
  }
</script>

<div class="w-full max-w-[800px]">
  <canvas id="year-canvas"> </canvas>
</div>
